.add-modal {
    position: relative;
    top: 4%;
    left: 32%;
    padding: 20px;
    width: 500px;
    text-align: center;
    border: 1px solid #1e1b26;
    border-radius: 5px;
    background-color: white;
  }
  form h1 {
    text-decoration: underline;
  }
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  form input {
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: grey;
    padding-left: 10px;
    margin-top: 10px;
  }
  form label {
    margin-top: 20px;
  }
  form input:focus {
    outline: 0;
  }
  form textarea {
    border-radius: 5px;
    border: 1px solid lightgray;
    color: grey;
    padding: 10px;
    margin-top: 10px;
  }
  form textarea:focus {
    outline: 0;
  }
  /* modal Buttons */
  .Modal-btn {
    
    border-radius: 5px;
    background-color: #0084ff;
    border: transparent;
    color: rgb(12, 1, 1);
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }
  .Modal-btn:hover {
    background-color: #ff7b00d3(254, 65, 65, 0.8);
  }
  .Modal-btn:focus {
    outline: 0;
  }
  